nitrogen --restore
picom -f &
nm-applet &
screenkey &
# Add this to your .xinitrc or whatever file starts programs on startup.
# -R restores the last colorscheme that was in use.
# wal -R
#
# make CapsLock a Ctrl key, press both Shift keys to enable/disable CapsLock
setxkbmap -option ctrl:nocaps,shift:both_capslock
# if CapsLock key is pressed once, it's Esc key
killall xcape 2>/dev/null ; xcape

export GTK_IM_MODULE=ibus
export XMODIFIER=@im-ibus
export QT_IM_MODULE=ibus
export GLFW_IM_MODULE=ibus
pidof ibus-daemon > /dev/null || ibus-daemon -drx
