* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #2e3440;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}
/*--- Top ---*/
div#top {
	height: 40vh;
	overflow: hidden;
	z-index: 2;
}

h1 {
	margin-top: 20vh; 
	color: #ECEFF4;
	text-align: center;
}

/*--- Search ---*/
div#search {
	height: 15vh;
}

input {
	text-align: left;
	background: #d8dee9;
	color: #3b4252;
	display: block;
	line-height: 20pt;
	border-radius: 15px;
	border: none;
	outline: none;
	box-shadow: 1px 1px 1px #3b4252;
	margin: 5vh auto;
	padding: 0 1.5vw;
}

input[type=search]:focus {
	border: none;
	outline: none;
}

/*--- Main ---*/
div#bookmarks {
    display: flex;
    height: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    z-index: 3;
    align-content: space-between;
}

.bookmarks {
	width: 15vw;
	margin: 2vh 5vw;
}

ul {
	display: inline;
	list-style-type: none;
}

ul p {
	color: #ECEFF4;
	text-align: center;
}

li {
	padding: 0.5vh 1vw;
	border-radius: 5px;
}

a {
	font-size: 90%;
	font-style: italic;
	text-decoration: none;
}

a:visited, a:link {
	color: #5e81ac;
}

a:hover {
	color: #88c0d0;
}

/*--- Footer ---*/
div#footer {
	height: 5vh;
	overflow: hidden;
	z-index: 1;
}

div#footer p {
	color: #616e88;
	text-align: center;
}


